<div class="container">
    <h1 class="mt-5" style="font-weight: 700; border-bottom: 1px solid black;padding-left: 3rem; ">Catalogo Producto</h1>
    <div class="mt-5 ml-5 d-flex align-items-center">
        <span class="mr-1" style="color: #4f4f52;font-size: 1rem;font-weight: 700;">Empresa: </span>
        <select
            style="width: 30%; padding-left: 1rem;  border: 1px solid rgba(0,0,0,.15);border-radius: 5px;color: #67757c;min-height: 38px;">
            <option value="" disabled selected>Make a selection</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>
    <h2 class="mt-2" style="font-weight: 700; border-bottom: 1px solid black;padding-left: 3rem; ">Producto Infomación General</h2>

    <!-- GRID -->
    <div class=" container mt-4">
        <form>
            <div class="row">
                <label class="col-2 form-label">SKU</label>
                <input type="text" class="col-3 form-control">
                <span class="col-3" style="color: #4f4f52;font-size: 1rem;">Caducidad</span>
                <input type="text" class="mr-1 col-1 form-control">
                <input type="text" class="col-1 form-control">
                <span  class="col-1" style="text-align: start; color: #4f4f52;font-size: 1rem;">Dias</span>
                
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Descripcion</label>
                <input type="text" class="col-3 form-control">
                <label class="col-5 form-label">Requiere inspeccion de Calidad</label>
                <input type="text" class="col-1 form-control">
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Modelo</label>
                <input type="text" class="col-3 form-control">
                <label class="col-5 form-label">Requiere fecha caducidad</label>
                <input type="text" class="col-1 form-control">
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Linea Producto</label>
                <select class="col-3"
                    style="margin-top: 3px;width: 30%; padding-left: 1rem;  border: 1px solid rgba(0,0,0,.15);border-radius: 5px;color: #67757c;min-height: 48px;">
                    <option value="" disabled selected>Make a selection</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label class="col-5 form-label">Numero Parte</label>
                <input type="text" class="col-1 form-control">
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Marca</label>
                <select class="col-3"
                    style="margin-top: 3px;width: 30%; padding-left: 1rem;  border: 1px solid rgba(0,0,0,.15);border-radius: 5px;color: #67757c;min-height: 48px;">
                    <option value="" disabled selected>Make a selection</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label class="col-5 form-label">Requiere lote</label>
                <input type="text" class="col-1 form-control">
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Serializado</label>
                <input type="text" class="col-1 form-control">
                <label class="col-7 form-label">Contacto</label>
                <input type="text" class="col-1 form-control">
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Sobreo Bajo Surtimiento</label>
                <input type="text" class="col-1 form-control">
                <label class="col-5 form-label">Configuracion lote</label>
                <select class="col-3"
                    style="margin-top: 3px;width: 30%; padding-left: 1rem;  border: 1px solid rgba(0,0,0,.15);border-radius: 5px;color: #67757c;height: 3rem;">
                    <option value="" disabled selected>Make a selection</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
            <div class="row mt-2">
                <span class="col-2">Direcciones Adicionales</span>
                <input type="text" class="col-1 form-control">
                 </div>

        </form>
        <div class="d-flex justify-content-end mt-4 ml-1">
            <button  [routerLink]="['/catalogo-productos-sig']" type="button" style="width: 15%; background: #242a33;"
            class=" btn btn-dark">Siguiente</button>
        </div>

    </div>
</div>
