<div class="container-fluid">
    <h2>Catalogo Marca De Producto</h2>
    <h4 class="mt-5 pb-2" style="border-bottom: 1px solid black;">Datos Generales</h4>
    <div class="row mt-4">
        <label class="col-3 mt-1 form-label">Marca De Producto</label>
        <input type="text" class="col-3 form-control">
        <button  type="button" style="width: 10%;"
            class="ml-1 btn btn-dark">Guardar</button>
    </div>
    <div class="mt-5 d-flex justify-content-end ml-1">
        <input  type="text" class="col-3 mr-1 form-control">
        <button  type="button" style="width: 10%;"
        class="btn btn-dark">Buscar</button>
    </div>
</div>
