<app-breadcrumbs [miga]="miga"></app-breadcrumbs>
<div class="container-fluid">
    <h4 class="pb-2 border-bottom border-dark">Datos Generales</h4>
    <div class="row mt-4">
        <label class="col-3 text-center form-label">Marca De Producto</label>
        <input type="text" class="w-25 form-control">
        <button type="button" class="col-2 ml-1 btn btn-dark">Guardar</button>
    </div>
    <div class="mt-5 d-flex justify-content-end ml-1">
        <input type="text" class="col-3 mr-1 form-control">
        <button type="button" style="width: 10%;" class="btn btn-dark">Buscar</button>
    </div>
</div>