<div class="container-fluid">
    <h4 style="border-bottom:1px solid black ; padding-bottom: 1.1rem;">Datos Generales</h4>
        <div class="d-sm-flex bd-highlight">
            <div style="flex-basis:55%;" class="p-2 flex-grow-1 bd-highlight">Descripción unidad de medida</div>
            <input placeholder="Your name" style="width: 30%;" class="form-control mr-2 p-2 bd-highlight" type="text" name="" id="" formControlName="">
            <button  type="button" style="width: 15%; background: #242a33;"
            class=" btn btn-dark p-2 bd-highlight">Guardar</button>
          </div>
    <h4 class="mt-5" style="border-bottom:1px solid black ; padding-bottom: 1.1rem;">Listar Medidas</h4>

    <div class="d-sm-flex bd-highlight justify-content-end">
        <input placeholder="Your name" style="width: 30%;" class="form-control mr-2 p-2 bd-highlight" type="text" name="" id="" formControlName="">
        <button  type="button" style="width: 15%; background: #242a33;"
        class=" btn btn-dark p-2 bd-highlight">Buscar</button>
      </div>

      <div style="color: white; margin-top: 3rem; background-color: rgb(0, 0, 0);margin: auto 40%;">
        tabla que muestre los datos y colocar boton de modificar y eliminar

      </div>
</div>
