<form  (ngSubmit)="onSubmit()"> 
    <div class="container">
        <div class="row">
            <div class="col-4">
                <label class="form-label">Nombre empresa:</label>
                <input class="form-control" type="text" name="" id="" formControlName="">
            </div>
            <div class="col-4">
                <label class="form-label">Dirección empresa:</label>
                <input class="form-control" type="text" name="" id="" formControlName="">
            </div>
            <div class="col-4">
                <label class="form-label">Centro de costo:</label>
                <input class="form-control" type="text" name="" id="" formControlName="">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="form-label">NIF empresa:</label>
                <input class="form-control" type="text" name="" id="" formControlName="">
            </div>
            <div class="col-4">
                <label class="form-label">Logo:</label>
                <input class="form-control" type="file" name="" id="" formControlName="">
            </div>
            <div class="col-4">
                s
            </div>
        </div>
    </div>
</form>
