<app-breadcrumbs  [miga]="miga"></app-breadcrumbs>
<form [formGroup]='checkoutForm'  (ngSubmit)="onSubmit()"> 
    <ngb-alert #selfClosingAlert *ngIf="successMessage" type={{type}} (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <label class="form-label">Nombre empresa:</label>
                <input class="form-control" placeholder="Ingrese Nombre" type="text" name="" id="" formControlName="nombre_empresa">
            </div>
            <div class="col-4">
                <label class="form-label">Dirección empresa:</label>
                <input class="form-control" type="text" name="" id="" placeholder="Ingrese Dirección" formControlName="direccion_empresa">
            </div>
            <div class="col-4">
                <label class="form-label">Centro de costo:</label>
                <input class="form-control" type="text" name="" placeholder="Ingrese Centro De Costo" id="" formControlName="centro_costo">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="form-label">NIF empresa:</label>
                <input class="form-control" type="text" name="" id="" placeholder="Ingrese Nif Empresa" formControlName="nif_empresa">
            </div>
            <div class="col-4">
                <label class="form-label">Logo:</label>
                <input class="form-control" type="file" name="" id="" formControlName="logo_empresa">
            </div>
            <div class="col-4">
               
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-dark" [disabled]="checkoutForm.invalid">Guardar</button>
            </div>
        </div>
    </div>
</form>

