.row span, .row label {
    margin-top: 1rem;
    text-align: end;
}

.col-6 button{
    width: 30%;
     min-width: 167px;
}

.mt-5 button{
    color: #242a33;
    /* padding: 9px 6px; */
    border-width: 1px;
    background: white;
}