.row span, .row label {
    margin-top: 1rem;
    text-align: end;
    font-weight: 700;
}

.col-6 button{
    width: 40%;
     min-width: 167px;
}

.row.mt-5 button{
    color: #242a33;
    padding: 19px 12px;
    border-width: 3px;
}