<div>
    <div class="container">
    <h2 class="mt-2" style=" border-bottom: 1px solid black;padding-left: 3rem; ">Producto Configuración</h2>
</div>
    <!-- SELECCION -->
    <div class="container-fluid ml-5">
        <div class="row">
            <label class="col-3 form-label">Linea Producto</label>
            <select class="col-3"
                style="margin-top: 3px;width: 30%; padding-left: 1rem;  border: 1px solid rgba(0,0,0,.15);border-radius: 5px;color: #67757c;min-height: 48px;">
                <option value="" disabled selected>Make a selection</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="row mt-2">
            <span class="col-3" style="color: #4f4f52;">Caducidad</span>
            <input type="text" class="col-3 form-control">
        </div>
        <div class="row mt-2">
            <span class="col-3" style=" color: #4f4f52;">Fecha descontinuo</span>
            <input type="text" class="mr-1 col-1 form-control">
            <select class="col-3"
                style="margin-top: 3px;width: 30%; padding-left: 1rem;  border: 1px solid rgba(0,0,0,.15);border-radius: 5px;color: #67757c;min-height: 48px;">
                <option value="" disabled selected>Make a selection</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="row mt-2">
            <span class="col-3" style=" color: #4f4f52;">Status</span>
            <select class="col-3"
                style="margin-top: 3px;width: 30%; padding-left: 1rem;  border: 1px solid rgba(0,0,0,.15);border-radius: 5px;color: #67757c;min-height: 48px;">
                <option value="" disabled selected>Make a selection</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="row mt-2">
            <span class="col-3" style=" color: #4f4f52;">SKU Compuesto</span>
            <input style="max-height: 2.8rem;" type="text" class="mr-1 col-1 form-control">
            <div class="col-6">
                <button  type="button" style="display: block; width: 16%;"
                class=" btn btn-dark">SKU COMPUESTO</button>
                <button  type="button" style="width: 16%; "
                class="mt-1 btn btn-dark">SKU PROVEEDORES</button>
            </div>
        </div>
        <div class="d-sm-flex flex-row justify-content-center mr-5 mt-5">
                <button  type="button" style="width: 18%;"
                class=" btn btn-dark">SKU COMPUESTO</button>
                <button  type="button" style="width: 18%;"
                class="ml-1 mr-1 btn btn-dark">SKU PROVEEDORES</button>
                <button  type="button" style="width: 18%;"
                class=" btn btn-dark">SKU PROVEEDORES</button>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-4 ml-1">
        <button type="button" style="width: 15%; background: #242a33;"
        class=" btn btn-dark">Guardar</button>
    </div>
</div>