p {
    font-size: .9rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    width: 100%;
    position: relative;
}
svg{
    position: absolute;
    right: 0;
    color: #242a33;
}
select{
        margin-top: 10px;
        width: 10rem;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 5px;
        color: #67757c;
        min-height: 38px;
}
span{
    font-weight: 500;
}
.modal-body .row span, .modal-body .row  label {
    margin-top: 1rem;
    font-weight: 700;
 }
 .modal-body h3, .modal-title{
    font-weight: 600;
 }