<app-breadcrumbs  [miga]="miga"></app-breadcrumbs>
<ngb-alert #selfClosingAlert *ngIf="successMessage" type={{type}} (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>

  <form [formGroup]='checkoutForm'  >
    <div class="row">
      <div class="col-3">
        <select formControlName="id_zona" name="id_zona" id="id_zona"  class="form-select">
        <option value="" disabled selected>Zona</option>
        <option value={{dl.id}} *ngFor="let dl of zona" >{{dl.descripcion}}</option>


    </select>
      </div>
      <div class="col-3">
        <select formControlName="id_rack" name="id_rack" id="id_rack"  class="form-select">
          <option value="" disabled selected>Rack</option>
          <option value={{dl.id}} *ngFor="let dl of rack" >{{dl.descripcion}}</option>

      </select>
      </div>
      <div class="col-3">
        <select  formControlName="id_nivel" name="id_nivel" id="id_nivel" class="form-select">
          <option value="" disabled selected>Nivel</option>
          <option value={{dl.id}} *ngFor="let dl of nivel" >{{dl.descripcion}}</option>

      </select>
      </div>
      <div class="col-3">
        <select  formControlName="id_localidad" name="id_localidad" id="id_localidad" class="form-select">
          <option value="" disabled selected>Localidad</option>
          <option value={{dl.id}} *ngFor="let dl of localidad" >{{dl.descripcion}}</option>

      </select>
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button (click)="onSubmit()"  type="button" class="p-2 col-2 btn btn-dark">Guardar</button>
    </div>
    <table class="table table-striped table-hover mt-5">
      <thead>
        <tr>
          <th scope="col">Zona</th>
          <th scope="col">Rack</th>
          <th scope="col">Nivel</th>
          <th scope="col">Localidad</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let li of listarLayout">
          <td> {{li.descripcion_zona}} </td>
          <td> {{li.descripcion_racks}} </td>
          <td>{{li.descripcion_nivels}} </td>
          <td>{{li.descripcion_localidads}}</td>
          <td>
            <button (click)="open(mymodalMODI)"  class=" btn btn-warning padding" ></button>
            <button (click)="open(mymodal)" class="btn btn-danger padding"  ></button>
            <!-- (click)="open(mymodalMODI)" (click)="LlenarDatos(list)" -->
            <!-- (click)="open(mymodal)" -->
  
            <!-- ELIMINAR -->
            <ng-template #mymodal let-modal>
              <div style="margin:auto 12%;" class="modal-header">
                <h4  class="modal-title" id="modal-basic-title">Seguro que desea
                  eliminarlo de la lista?</h4>
              </div>
              <div class="d-flex justify-content-center ml-5 modal-body">
                <button  type="button" class="mr-3 btn btn-outline-dark"
                  (click)="modal.close('Save click')">Cancelar</button>
                <button  type="button" 
                  class="btn btn-outline-dark" (click)="Eliminar(li.id)"  (click)="modal.close('Save click')">Aceptar</button>
              </div>
            </ng-template> 
            <!-- (click)="Eliminar(list.id)" -->
            <!-- MODAL DE MODIFICAR  -->

             <ng-template #mymodalMODI let-modal>
              <div class="modal-header">
                <h4 id="modal-basic-title">Modificar Datos</h4>
              </div>
              <div class="row">
                <div class="col-3">
                  <select formControlName="id_zona" name="id_zona" id="id_zona"  class="form-select">
                  <option value="" disabled selected>Zona</option>
                  <option value={{dl.id}} *ngFor="let dl of zona" >{{dl.descripcion}}</option>
              </select>
                </div>
                <div class="col-3">
                  <select formControlName="id_rack" name="id_rack" id="id_rack"  class="form-select">
                    <option value="" disabled selected>Rack</option>
                    <option value={{dl.id}} *ngFor="let dl of rack" >{{dl.descripcion}}</option>
                </select>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-3">
                  <select  formControlName="id_nivel" name="id_nivel" id="id_nivel" class="form-select">
                    <option value="" disabled selected>Nivel</option>
                    <option value={{dl.id}} *ngFor="let dl of nivel" >{{dl.descripcion}}</option>
                </select>
                </div>
                <div class="col-3">
                  <select  formControlName="id_localidad" name="id_localidad" id="id_localidad" class="form-select">
                    <option value="" disabled selected>Localidad</option>
                    <option value={{dl.id}} *ngFor="let dl of localidad" >{{dl.descripcion}}</option>
                </select>
              </div>
              </div>
              
              <div class="d-flex justify-content-center ml-5 modal-body">
                <button type="button" class="mr-3 btn btn-outline-dark"
                  (click)="modal.close('Save click')">Cancelar</button>
                <button type="button" (click)="Actualizarlayout(li.id)"class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
              </div>
            </ng-template>

  
          </td>
        </tr>
      </tbody>
    </table>
  
    </div>
  </form>