<app-breadcrumbs  [miga]="miga"></app-breadcrumbs>
  <form [formGroup]='checkoutForm' (ngSubmit)="onSubmit()" >
    <div class="row">
      <div class="col-3">
        <input type="text" class="form-control" formControlName="frm_zona" name="" id="" placeholder="Zona">
      </div>
      <div class="col-3">
        <input type="text" class="form-control" formControlName="frm_rack" name="" id="" placeholder="Rack">
      </div>
      <div class="col-3">
        <input type="text" class="form-control" formControlName="frm_nivel" name="" id="" placeholder="Nivel">
      </div>
      <div class="col-3">
        <input type="text" class="form-control" formControlName="frm_localidad" name="" id="" placeholder="Localidad">
      </div>
    </div>
  </form>