<div class="container ">
    <form>
        <div class="row">
            <div class="col">
                <label class="form-label">TITULO_PROD</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">SKU</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">ID_PROVEEDOR</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">DESCRIPCION_PROD</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- SEGUNDA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">MODELO_PROD</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">CANTIDAD</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">COSTO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">PRECIO_VENTA</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- TERCERA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">ID_MARCA</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">ID_ALMACEN</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">SERIALISABLE</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">CADUCIDAD</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- CUARTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">SOBRESURTIMIENTO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">STATUS</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">NUMEROPARTE</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">QA</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- QUINTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">SERIALISABLE_RECEPCION</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">SKU_COMPUESTO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">LOTE_COMPUESTO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">IDCONFIG_LOTE</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- SEXTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">LOTE_COMPUESTO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">IDCONFIG_LOTE</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">REQUIERE_LOTE</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">REQUIEREFECHA_CADU</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- SEPTIMA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">ID_LINEA</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">CODIGO_BARRA</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </form>
</div>