<div class="container ">
    <form>
        <div class="row">
            <div class="col">
                <label class="form-label">Titulo</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">SKU</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Descripción</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Modelo</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- SEGUNDA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">Cantidad</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Costo</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Precio Venta</label>
                <input type="text" class="form-control">
            </div>
            
            <div class="col">
                <label class="form-label">Serialisable </label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- TERCERA FILA -->
        <div class="row mt-4">
            
            <div class="col">
                <label class="form-label">Caducidad</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Sobresurtimiento</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Status</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Numero de Parte</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- CUARTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">QA</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Serialisable Recepción</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">SKU Compuesto</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Lote Compuesto</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- QUINTA FILA -->
        <div class="row mt-4">
            
        </div>
        <!-- SEXTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">Lote Compuesto</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Requiere Lote</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Requiere fecha Caducidad</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Codigo Barra</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row mt-4 ml-1">
            <button type="submit" style="background: #398bf7;" class="col-3 btn btn-dark">Guardar</button>
        </div>
    </form>
</div>