<app-breadcrumbs [miga]="miga"></app-breadcrumbs>
<form action="">

    <div class="container" *ngIf="siguiente">
        <div class="mt-5 mb-3 ml-5 row">
            <label class="text-end col-3 form-label mr-1">Empresa: </label>
            <div class="col-3">
                <select class=" form-select">
                <option value="" disabled selected>Make a selection</option>
                <option *ngFor="let id of empresa">{{id.nombre_empresa}} </option>
            </select>
            </div>
            
        </div>
        <h4 class="mt-2 pl-3 border-bottom border-dark">Producto Infomación General</h4>

        <!-- GRID -->
        <div class=" container mt-4">
            <div class="row">
                <label class="col-2 form-label">SKU</label>
                <div class="col-3">
                    <input type="text" class=" form-control ">
                </div>
                <label class="col-3 form-label">Caducidad</label>
                <div class="col-1">
                    <input type="text" class=" mr-1 form-control">
                </div>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
                <label class="col text-start form-label">Dias</label>

            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Descripcion</label>
                <div class="col-3">
                    <input type="text" class=" form-control">
                </div>
                <label class="col-5 form-label">Requiere inspeccion de Calidad</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Modelo</label>
                <div class="col-3">
                    <input type="text" class=" form-control">
                </div>
                <label class="col-5 form-label">Requiere fecha caducidad</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Linea Producto</label>
                <div class="col-3">
                    <select class=" form-select">
                        <option value="" disabled selected>Make a selection</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
                <label class="col-5 form-label">Numero Parte</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>

            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Marca</label>
                <div class="col-3">
                    <select class="form-select">
                        <option value="" disabled selected>Make a selection</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
                <label class="col-5 form-label">Requiere lote</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Serializado</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
                <label class="col-7 form-label">Lote Compuesto</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Sobreo Bajo Surtimiento</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
                <label class="col-5 mt-2 form-label">Configuración lote</label>
                <div class="col-3">
                    <select class="form-select">
                        <option value="" disabled selected>Make a selection</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Serializado al Sutir</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
            </div>
            <div class="d-flex justify-content-end mt-4 ml-1">
                <button (click)="siguientePagina()" type="button" class=" col-2 btn btn-dark">Siguiente</button>
            </div>

        </div>
    </div>


    <div *ngIf="!siguiente">
        <div class="container">
            <h4 class="mt-2 border-bottom border-dark">Producto Configuración</h4>
        </div>
        <!-- SELECCION -->
        <div class="container-fluid ml-5">
            <div class="row">
                <label class="col-3 form-label">Unidad Medidad</label>
                <div class="col-3">
                    <select class="form-select">
                        <option value="" disabled selected>Make a selection</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-3 form-label">Peso</label>
                <div class="col-3">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-3">Fecha descontinuo</label>
                <div class="col-1 mr-1">
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <select class="form-select">
                        <option value="" disabled selected>Make a selection</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-3">Status</label>
                <div class="col-3">
                    <select class="form-select">
                        <option value="" disabled selected>Make a selection</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>

            </div>
            <div class="row mt-2">
                <label class="col-3">SKU Compuesto</label>
                <div class="col-1 mr-1">
                    <input type="text" class="form-control">
                </div>
                <div class="col-6">
                    <button type="button" class="d-block  btn btn-dark">SKU COMPUESTO</button>
                    <button type="button" class="mt-1 btn btn-dark ">SKU PROVEEDORES</button>
                </div>
            </div>
            <div class="d-sm-flex flex-row justify-content-center mr-5 mt-5">
                <button type="button" class=" btn btn-dark col-2">SKU COMPUESTO</button>
                <button type="button" class="ml-1 mr-1 btn col-2 btn-dark">SKU PROVEEDORES</button>
                <button type="button" class=" btn btn-dark col-2">SKU PROVEEDORES</button>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-4 ml-1">
            <button (click)="Volver()" type="button" class="btn btn-dark mr-2 col-2">Volver</button>
            <button type="button" class=" btn btn-dark col-2">Guardar</button>
        </div>
    </div>
</form>