<app-breadcrumbs [miga]="miga"></app-breadcrumbs>
<ngb-alert #selfClosingAlert *ngIf="successMessage" type={{type}} (closed)="successMessage = ''">{{
    successMessage}}</ngb-alert>
<form [formGroup]='checkoutForm'>

    <div class="container" *ngIf="siguiente">
        <div class="mt-5 mb-3 ml-5 row">
            <label class="text-end col-3 form-label mr-1">Empresa: </label>
            <div class="col-3">
                <select formControlName="id_empresa" name="id_empresa" id="id_empresa" class=" form-select">
                    <option value="" disabled selected>Seleccione</option>
                    <option *ngFor="let id of empresa" value={{id.id}}>{{id.nombre_empresa}} </option>
                </select>
            </div>

        </div>
        <h4 class="mt-2 pl-3 border-bottom border-dark">Producto Infomación General</h4>

        <!-- GRID -->
        <div class=" container mt-4">
            <div class="row">
                <label class="col-2 form-label">SKU</label>
                <div class="col-3">
                    <input formControlName="sku" name="sku" id="sku" placeholder="Ingrese SKU" type="text"
                        class=" form-control ">
                </div>
                <label class="col-3 form-label">Caducidad</label>
                <div class="col-1">
                    <input (click)="Dias()" type="checkbox" class="mr-1">
                </div>
                <div class="col-1">
                    <input #dias disabled formControlName="caducidad" name="caducidad" id="caducidad" type="text"
                        class=" form-control">
                </div>
                <label class="col text-start form-label">Dias</label>

            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Descripcion</label>
                <div class="col-3">
                    <input formControlName="descripcion" name="descripcion" id="descripcion" type="text"
                        placeholder="Ingrese Descripcion" class=" form-control">
                </div>
                <label class="col-5 form-label">Requiere inspeccion de Calidad</label>
                <div class="col-1">
                    <input formControlName="requiere_inspeccion_calidad" name="requiere_inspeccion_calidad"
                        id="requiere_inspeccion_calidad" type="checkbox">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Modelo</label>
                <div class="col-3">
                    <input formControlName="modelo" name="modelo" id="modelo" type="text" placeholder="Ingrese Modelo"
                        class=" form-control">
                </div>
                <label class="col-5 form-label">Requiere fecha caducidad</label>
                <div class="col-1">
                    <input formControlName="requiere_fecha_cadu" name="requiere_fecha_cadu" id="requiere_fecha_cadu"
                        type="checkbox">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Linea Producto</label>
                <div class="col-3">
                    <select formControlName="id_linea_producto" name="id_linea_producto" id="id_linea_producto"
                        class=" form-select">
                        <option value="" disabled selected>Seleccione</option>
                        <option *ngFor="let li of lineaP" value={{li.id}}>{{li.descripcion}} </option>

                    </select>
                </div>
                <label class="col-5 form-label">Numero Parte</label>
                <div class="col-1">
                    <input formControlName="numero_parte" name="numero_parte" id="numero_parte" type="text"
                        class=" form-control">
                </div>

            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Marca</label>
                <div class="col-3">
                    <select formControlName="id_marca" name="id_marca" id="id_marca" class="form-select">
                        <option value="" disabled selected>Seleccione</option>
                        <option *ngFor="let li of marca" value={{li.id}}>{{li.marca}} </option>

                    </select>
                </div>
                <label class="col-5 form-label">Requiere lote</label>
                <div class="col-1">
                    <input formControlName="requiere_lote" name="requiere_lote" id="requiere_lote" type="checkbox">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Serializado</label>
                <div class="col-1">
                    <input formControlName="serialisable" name="serialisable" id="serialisable" type="text"
                        class=" form-control">
                </div>
                <label class="col-7 text-center   form-label">Lote Compuesto</label>
                <div class="col-1">
                    <input (click)="SELECT()" type="checkbox">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Sobreo Bajo Surtimiento</label>
                <div class="col-1">
                    <input formControlName="sobresurtimiento" name="sobresurtimiento" id="sobresurtimiento" type="text"
                        class=" form-control">
                </div>
                <label class="col-5 mt-2 text-end pr-5 form-label">Configuración lote</label>
                <div class="col-3">
                    <select #select disabled formControlName="id_config_lote" name="id_config_lote" id="id_config_lote"
                        class="form-select">
                        <option value="" disabled selected>Seleccione</option>
                        <option *ngFor="let li of config" value={{li.id}}>{{li.descripcion}} </option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Serializado al Sutir</label>
                <div class="col-1">
                    <input formControlName="serialisable_surtir" name="serialisable_surtir" id="serialisable_surtir"
                        type="text" class=" form-control">
                </div>
                <div class="d-flex justify-content-end  col-8 h-25">
                    <button (click)="open(mymodalLayout)" type="button" class=" btn border-1 border-dark btn-outline-dark">Crea Layout</button>
                    
                    <ng-template #mymodalLayout let-modal>
                        <div class="modal-header">
                            <h4 id="modal-basic-title">Seleccione Layout</h4>
                        </div>
                        <div class="container-fluid">
                            <app-layout-producto (layoutId)="idLayout($event)" ></app-layout-producto>

                           
                        </div>
                        <div class="d-flex justify-content-end ml-5 modal-body">
                            <button type="button" class="mr-3 btn btn-outline-light btn-dark" 
                                (click)="modal.close('Save click')">Aceptar</button>
                            <button type="button" class="btn btn-outline-light btn-dark"
                                (click)="modal.close('Save click')">Cancelar</button>
                        </div>
                    </ng-template>
                </div>

            </div>

            <div class="d-flex justify-content-end mt-4 ml-1">
                <button (click)="siguientePagina()" type="button" class=" col-2 btn btn-dark">Siguiente</button>
            </div>

        </div>
    </div>


    <div *ngIf="!siguiente">
        <div class="container">
            <h4 class="mt-2 border-bottom border-dark">Producto Configuración</h4>
        </div>
        <!-- SELECCION -->
        <div class="container-fluid ml-5">
            <div class="row">
                <label class="col-3 form-label">Unidad Medidad</label>
                <div class="col-3">
                    <select formControlName="id_unidad_de_medida" name="id_unidad_de_medida" id="id_unidad_de_medida"
                        class="form-select">
                        <option value="" disabled selected>Seleccione</option>
                        <option *ngFor="let li of UM" value={{li.id}}>{{li.descripcion}} </option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-3 form-label">Peso</label>
                <div class="col-3">
                    <input formControlName="peso" name="peso" id="peso" type="text" placeholder="Ingrese Peso"
                        class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2">Fecha descontinuo</label>
                <div class="col-1 text-end">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <input formControlName="fecha_descontinuo" name="fecha_descontinuo" id="fecha_descontinuo"
                            class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" />
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-calendar3" viewBox="0 0 16 16">
                                <path
                                    d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                <path
                                    d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg></button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-3">Status</label>
                <div class="col-3">
                    <select formControlName="status" name="status" id="status" class="form-select">
                        <option value="" disabled selected>Seleccione</option>
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>

            </div>
            <div class="row mt-2">
                <label class="col-2">SKU Compuesto</label>
                <div class="col-1 text-end">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                </div>
                <div class="col-6">
                    <button type="button" (click)="open(mymodalCom)" class="d-block  btn btn-dark">Kiting</button>
                    <button type="button" (click)="open(mymodalProv)" class="mt-1 btn btn-dark ">SKU
                        PROVEEDORES</button>


                    <!-- Kiting -->
                    <ng-template #mymodalCom let-modal>
                        <div class="modal-header">
                            <h4 id="modal-basic-title">Kiting</h4>
                        </div>
                        <div class="container-fluid">
                            <app-kiting></app-kiting>
                            <!-- <div class="row">
                                <div  #prueba class="col-4">
                                    <h6  class="text-center">Disponibles</h6>
                                    <p  *ngFor="let li of catalogo ; index as i" style="cursor: pointer;"  class="text-center label{{i}}" (click)="colorS()" [ngClass]="{'bg-danger':bg}" >
                                        {{li.descripcion}} </p> 
                                </div> 
                                <div class="row  col-4">
                                    <button class="btn col-12 mt-4 border-dark b-1">Agregar</button>
                                    <button class="btn col-12 mt-4 border-dark b-1">Agregar Todo</button>
                                    <button class="btn col-12 mt-4 border-dark b-1">Remover</button>
                                    <button class="btn col-12 mt-4 border-dark b-1">Remover Todo</button>

                                </div>
                                <div class="col-4">
                                 <h1>hola</h1> 
                                    <h6 class="text-center">Seleccionados</h6>

                                </div>
                            </div> -->

                        </div>
                        <div class="d-flex justify-content-end ml-5 modal-body">
                            <button type="button" class="mr-3 btn btn-outline-light btn-dark" (click)="kitingGuardar()"
                                (click)="modal.close('Save click')">Aceptar</button>
                            <button type="button" class="btn btn-outline-light btn-dark"
                                (click)="modal.close('Save click')">Cancelar</button>
                        </div>
                    </ng-template>


                    <ng-template #mymodalProv let-modal>
                        <div class="modal-header">
                            <h4 id="modal-basic-title">Producto SKU</h4>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 ml-3">
                                    <!-- <h1>hola</h1> -->
                                    <button class="btn col-3 mt-4 mr-3 border-dark b-1">Agregar</button>
                                    <button class="btn col-3 mt-4 border-dark b-1">Remover</button>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-5">
                                        <label class="col-1 d-block form-label mr-1">Proveedor</label>
                                        <div class="col-11">
                                            <select formControlName="id_empresa" name="id_empresa" id="id_empresa"
                                                class=" form-select">
                                                <option value="" disabled selected>Seleccione</option>
                                                <option>prueba </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="col-6 d-block form-label mr-1">SKU Proveedor</label>
                                        <div class="col-10">
                                            <input placeholder="Ingrese SKU" class="form-control" type="text">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end ml-5 modal-body">
                            <button type="button" class="mr-3 btn btn-outline-light btn-dark"
                                (click)="modal.close('Save click')">Aceptar</button>
                            <button type="button" class="btn btn-outline-light btn-dark"
                                (click)="modal.close('Save click')">Cancelar</button>
                        </div>
                    </ng-template>




                </div>
            </div>
            <div class="d-sm-flex flex-row justify-content-center mr-5 mt-5">
                <button type="button" class=" btn btn-dark col-2">Ubicaciones</button>
                <button type="button" class="ml-1 mr-1 btn col-2 btn-dark">Producto Sustituto</button>
                <button type="button" class=" btn btn-dark col-2">Unidades de carga</button>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-4 ml-1">
            <button (click)="Volver()" type="button" class="btn btn-dark mr-2 col-2">Volver</button>
            <button (click)="onSubmit()" [disabled]="checkoutForm.invalid" type="button"
                class=" btn btn-dark col-2">Guardar</button>
        </div>
    </div>
</form>