<app-breadcrumbs [miga]="miga"></app-breadcrumbs>
<form action="">

    <div class="container" *ngIf="siguiente">
        <div class="mt-5 mb-3 ml-5 row">
            <label class="text-end col-3 form-label mr-1">Empresa: </label>
            <div class="col-3">
                <select class=" form-select">
                <option value="" disabled selected>Seleccione</option>
                <option *ngFor="let id of empresa">{{id.nombre_empresa}} </option>
            </select>
            </div>
            
        </div>
        <h4 class="mt-2 pl-3 border-bottom border-dark">Producto Infomación General</h4>

        <!-- GRID -->
        <div class=" container mt-4">
            <div class="row">
                <label class="col-2 form-label">SKU</label>
                <div class="col-3">
                    <input  placeholder="Ingrese SKU" type="text" class=" form-control ">
                </div>
                <label class="col-3 form-label">Caducidad</label>
                <div class="col-1">
                    <input type="text" class=" mr-1 form-control">
                </div>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
                <label class="col text-start form-label">Dias</label>

            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Descripcion</label>
                <div class="col-3">
                    <input type="text" placeholder="Ingrese Descripcion" class=" form-control">
                </div>
                <label class="col-5 form-label">Requiere inspeccion de Calidad</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Modelo</label>
                <div class="col-3">
                    <input type="text" placeholder="Ingrese Modelo" class=" form-control">
                </div>
                <label class="col-5 form-label">Requiere fecha caducidad</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Linea Producto</label>
                <div class="col-3">
                    <select class=" form-select">
                        <option value="" disabled selected>Seleccione</option>
                        <option *ngFor="let li of lineaP" value={{li.id}}>{{li.descripcion}} </option>

                    </select>
                </div>
                <label class="col-5 form-label">Numero Parte</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>

            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Marca</label>
                <div class="col-3">
                    <select class="form-select">
                        <option value="" disabled selected>Seleccione</option>
                        <option *ngFor="let li of marca" value={{li.id}}>{{li.marca}} </option>

                    </select>
                </div>
                <label class="col-5 form-label">Requiere lote</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Serializado</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
                <label class="col-7 text-center   form-label">Lote Compuesto</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Sobreo Bajo Surtimiento</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
                <label class="col-5 mt-2 text-end pr-5 form-label">Configuración lote</label>
                <div class="col-3">
                    <select class="form-select">
                        <option value="" disabled selected>Seleccione</option>
                        <option *ngFor="let li of config" value={{li.id}}>{{li.descripcion}} </option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2 form-label">Serializado al Sutir</label>
                <div class="col-1">
                    <input type="text" class=" form-control">
                </div>
            </div>
            <div class="d-flex justify-content-end mt-4 ml-1">
                <button (click)="siguientePagina()" type="button" class=" col-2 btn btn-dark">Siguiente</button>
            </div>

        </div>
    </div>


    <div *ngIf="!siguiente">
        <div class="container">
            <h4 class="mt-2 border-bottom border-dark">Producto Configuración</h4>
        </div>
        <!-- SELECCION -->
        <div class="container-fluid ml-5">
            <div class="row">
                <label class="col-3 form-label">Unidad Medidad</label>
                <div class="col-3">
                    <select class="form-select">
                        <option value="" disabled selected>Seleccione</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-3 form-label">Peso</label>
                <div class="col-3">
                    <input type="text" placeholder="Ingrese Peso" class="form-control">
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-2">Fecha descontinuo</label>
                <div class="col-1 text-end">
                    <input class="form-check-input" type="checkbox"  id="flexCheckDefault">
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            name="dp"
                            ngbDatepicker
                            #d="ngbDatepicker"
                        />
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg></button>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-3">Status</label>
                <div class="col-3">
                    <select class="form-select">
                        <option value="" disabled selected>Seleccione</option>
                        <option value="1">Activo</option>
                        <option value="2">Inactivo</option>
                    </select>
                </div>

            </div>
            <div class="row mt-2">
                <label class="col-2">SKU Compuesto</label>
                <div class="col-1 text-end">
                    <input class="form-check-input" type="checkbox"  id="flexCheckDefault">
                </div>
                <div class="col-6">
                    <button type="button" class="d-block  btn btn-dark">SKU COMPUESTO</button>
                    <button type="button" class="mt-1 btn btn-dark ">SKU PROVEEDORES</button>
                </div>
            </div>
            <div class="d-sm-flex flex-row justify-content-center mr-5 mt-5">
                <button type="button" class=" btn btn-dark col-2">Ubicaciones</button>
                <button type="button" class="ml-1 mr-1 btn col-2 btn-dark">Producto Sustituto</button>
                <button type="button" class=" btn btn-dark col-2">Unidades de carga</button>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-4 ml-1">
            <button (click)="Volver()" type="button" class="btn btn-dark mr-2 col-2">Volver</button>
            <button type="button" class=" btn btn-dark col-2">Guardar</button>
        </div>
    </div>
</form>