<div class="container-fluid">
    <h1>Catalogo Marca De Producto</h1>
    <h3 class="mt-5 pb-2" style="font-weight: 600; border-bottom: 1px solid black;">Datos Generales</h3>
    <div class="row mt-4">
        <label class="col-3 form-label">Marca De Producto</label>
        <input style="height: 3rem;" type="text" class="col-3 form-control">
        <button  type="button" style="width: 15%; height: 3rem;letter-spacing: 3px; background: #242a33;"
            class="ml-1 btn btn-dark">GUARDAR</button>
    </div>
    <div style="margin-top: 7rem;" class="d-flex justify-content-end ml-1">
        <input style="height: 3rem;" type="text" class="col-3 mr-1 form-control">
        <button  type="button" style="width: 10%; height: 3rem;font-size: 1.1rem; background: #242a33;"
        class=" btn btn-dark">Buscar</button>
    </div>
</div>
