<div class="container-fluid">
    <h2 class=" pb-1" style="border-bottom: 1px solid black;">Catalogo Marca De Producto</h2>
    <h4 class="mt-5 pl-2 pb-2" style="border-bottom: 1px solid black;">Datos Generales</h4>
    <div class="row mt-4">
        <label class="col-4 form-label">Descripción Unidad De Carga</label>
        <input placeholder="Your name"  type="text" class="h-30 pl-3 col-3 form-control">
        <button  type="button" class="ml-2 btn btn-dark">GUARDAR</button>
    </div>
    <h4 class="mt-5 pl-2 pb-2" style="border-bottom: 1px solid black;">Listar Medidas</h4>
    <div class="mt-5 d-flex justify-content-end ml-1">
        <input  type="text" class="h-30 col-3 mr-1 form-control">
        <button  type="button" class=" btn btn-dark w-10 h-30 ">Buscar</button>
    </div>
</div>
