<app-breadcrumbs [miga]="miga"></app-breadcrumbs>
<ngb-alert #selfClosingAlert *ngIf="successMessage" type={{type}} (closed)="successMessage = ''">{{
    successMessage}}</ngb-alert>
<div class="container">
    <div class="row mt-4 mb-2 mr-5">
        <form class="col row" [formGroup]='checkoutForm'>
            <label class="text-center col-4">Sku</label>
            <div class="col-8">
                <select (change)="Buscar($event.target.value)" formControlName="sku" name="sku" id="sku"
                    class="form-select">
                    <option value="" disabled selected>Seleccione</option>
                    <option *ngFor="let li of producto" value={{li.id}}>{{li.sku}} </option>
                </select>
            </div>
        </form>
        <label class="text-center col-2">Producto</label>
        <div class="col-4">
            <input [(ngModel)]="Producto"  placeholder="Producto" type="text" class="form-control">
        </div>
    </div>

    <div class="row mt-4 mb-2 mr-5">

            <label class="col-2 text-center">Unidad de medida</label>
            <div class="col">
                <input [(ngModel)]="uniMedida" type="text"
                    class=" form-control" placeholder="Unidad Medida">
            </div>

        <label class="col-2 text-center">Numero de Parte</label>
        <div class="col-4">
            <input  [(ngModel)]="numeroPartes" type="text" class=" form-control" placeholder="Numero de Parte">
        </div>
    </div>

    <div class="d-flex align-items-end flex-column mr-5 mt-5 mb-4 ">
        <button type="button" (click)="onSubmit()" [disabled]="checkoutForm.invalid"
            class="mb-1 col-2 btn border-dark border-1">Guardar</button>

    </div>
</div>


<table class="table table-bordered table-striped  table-hover ">
    <thead>
        <tr>
            <th scope="col">Sku</th>
            <th scope="col">Producto</th>
            <th scope="col">U.M</th>
            <th scope="col">Nro.Partes</th>
            <th scope="col">Acciones</th>


        </tr>
    </thead>
    <tbody>
        <!--  -->
        <tr *ngFor="let pos of buscar">
            <td>{{pos.sku}}</td>
            <td>{{pos.descripcion}}</td>
            <td>{{pos.unidad_medida}} </td>
            <td>{{pos.numero_parte}} </td>

            <td>
                <button class="btn btn-danger padding" (click)="open(mymodal)"></button>

                <ng-template #mymodal let-modal>
                    <div style="margin:auto 12%;" class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Seguro que desea
                            eliminar el Producto?</h4>
                    </div>
                    <div class="d-flex justify-content-center ml-5 modal-body">
                        <button type="button" class="mr-3 btn btn-outline-dark"
                            (click)="modal.close('Save click')">Cancelar</button>
                        <button type="button" class="btn btn-outline-dark" (click)="Eliminar(pos.id)"
                            (click)="modal.close('Save click')">Aceptar</button>
                    </div>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>