<app-breadcrumbs [miga]="miga"></app-breadcrumbs>
<ngb-alert #selfClosingAlert *ngIf="successMessage" type={{type}} (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>
<div class="container">
    <form [formGroup]='checkoutForm'>
        <div class="mt-3 ml-5 d-flex align-items-center">
            <label class="form-label mr-1" for="">Empresa:</label>
            <select formControlName="empresa"  name="empresa" id="empresa" class="col-3 form-select" aria-label="Default select example">
                <option value="" disabled selected>Selecciones</option>
                <option *ngFor="let id of empresa">{{id.nombre_empresa}} </option>
            </select>
        </div>
        <h4 class="mt-5 pl-2 border-bottom border-dark" >Dirección fiscal del proveedor</h4>

        <!-- GRID -->
        <div class=" container mt-4">
            <div class="row">
                <label class="text-end col form-label">Nombre del proveedor</label>
                <input formControlName="nombre_proveedor"  name="nombre_proveedor" id="nombre_proveedor" type="text" class="col form-control">
                <label class="col text-end form-label">Pais</label>
                <select formControlName="pais"  name="pais" id="pais" class="col form-select">
                    <option value="" disabled selected>Selecciones</option>
                    <option *ngFor="let li of pais" value={{li.id}} >{{li.pais}} </option>
                </select>
            </div>
            <div class="row mt-2">
                <label class="text-end col form-label">RFN</label>
                <input formControlName="rfn"  name="rfn" id="rfn" type="text" class="col form-control">
                <label  class="text-end col form-label">Codigo Postal</label>
                <input formControlName="codigo_postal"  name="codigo_postal" id="codigo_postal" type="text" class="col form-control">
            </div>
            <div class="row mt-2">
                <label class="col text-end form-label">Calle</label>
                <input formControlName="calle"  name="calle" id="calle" type="text" class="col form-control">
                <label  class="col text-end form-label">Telefono 1</label>
                <input formControlName="telefono1"  name="telefono1" id="telefono1" type="text" class="col form-control">
            </div>
            <div class="row mt-2">
                <label class="col text-end form-label">Numero Exterior</label>
                <input formControlName="numero_exterior"  name="numero_exterior" id="numero_exterior" type="text" class="col form-control">
                <label class="col text-end form-label">Telefono 2</label>
                <input formControlName="telefono2"  name="telefono2" id="telefono2" type="text" class="col form-control">
            </div>
            <div class="row mt-2">
                <label class="col text-end form-label">Numero Interior</label>
                <input formControlName="numero_interior"  name="numero_interior" id="numero_interior" type="text" class="col  form-control">
                <label class="col  text-end form-label">Telefono 3</label>
                <input formControlName="telefono3"  name="telefono3" id="telefono3" type="text" class="col  form-control">
            </div>
            <div class="row mt-2">
                <label class="col text-end form-label">Delegacion</label>
                <select formControlName="delegacion"  name="delegacion" id="delegacion" class="col form-select" (change)="onChange($event.target.value)">
                    <option value="" disabled selected>Selecciones</option>
                    <option value={{dl.code_delegacion}} *ngFor="let dl of delegaciones"> {{dl.descripcion}} </option>
                </select>
                <label  class="col text-end form-label">Email</label>
                <input formControlName="email"  name="email" id="email" type="text" class="col form-control">
            </div>
            <div class="row mt-2">
                <label class="col text-end form-label">Colonia</label>
                <select formControlName="colonia"  name="colonia" id="colonia" class="col form-select">
                    <option value="" disabled selected>Selecciones</option>
                    <option value={{cl.code_colonia}} *ngFor="let cl of colonias"> {{cl.descripcion}} </option>

                </select>
                <label class="col text-end form-label">Contacto</label>
                <input formControlName="contacto"  name="contacto" id="contacto" type="text" class="col form-control">
            </div>
            <!-- <div class="row mt-2">
                <label class="col-3 text-end form-label">Direcciones Adicionales</label>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="col-1 bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                </svg>
            </div> -->

            <div class="d-flex justify-content-end mt-4 ml-1">
                <button [disabled]="checkoutForm.invalid" (click)="onSubmit()" type="button" class="col-2 btn btn-dark">Guardar</button>
            </div>

        </div>
    </form>
</div>