<div class="container ">
    <form>
        <div class="row">
            <div class="col">
                <label class="form-label">Descuento Almacen</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Tipo</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Picking</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Etiqueta Entrada</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- SEGUNDA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">Usa Zona</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Usa Rack</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Usa Nivel</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Usa Localidad</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- TERCERA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">Schedule</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Status</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Contacto</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Calle</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- CUARTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">Número Extensión</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Número Interno</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Colonia</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Cp</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- QUINTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">Delegación Municipio</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Telefono</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Email</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Usar Ubicación</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- SEXTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">Telefono</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Email</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Usar Ubicación</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Folio Ubicación</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- SEPTIMA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">Zona Qa</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Rack Qa</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Nivel Qa</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">Localidad Qa</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row mt-4 ml-1">
            <button type="button" style="background: #398bf7;" class="col-3 btn btn-dark">Guardar</button>
        </div>
    </form>
</div>