<div class="container ">
    <form>
        <div class="row">
            <div class="col">
                <label class="form-label">DESCUENTO_ALMACEN</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">TIPO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">PICKING</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">ETIQUETA_ENTRADA</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- SEGUNDA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">USA_ZONA</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">USA_RACK</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">USA_NIVEL</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">USA_LOCALIDAD</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- TERCERA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">SCHEDULE</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">STATUS</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">CONTACTO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">CALLE</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- CUARTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">NUMERO_EXTENSION</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">NUMERO_INTERNO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">COLONIA</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">CP</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- QUINTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">DELEGACION_MUNICIPIO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">TELEFONO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">EMAIL</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">USAR_UBICACION</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- SEXTA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">TELEFONO</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">EMAIL</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">USAR_UBICACION</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">FOLIO_UBICACION</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <!-- SEPTIMA FILA -->
        <div class="row mt-4">
            <div class="col">
                <label class="form-label">ZONA_QA</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">RACK_QA</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">NIVEL_QA</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label class="form-label">LOCALIDAD_QA</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </form>
</div>