<app-breadcrumbs [miga]="miga"></app-breadcrumbs>
<ngb-alert #selfClosingAlert *ngIf="successMessage" type={{type}} (closed)="successMessage = ''">{{
    successMessage}}</ngb-alert>
<form [formGroup]='checkoutForm'>
    <h4 class="border-1 border-bottom border-dark">Etiqueta IN</h4>
    <div class="container">
        <div class="row mt-4 mb-2 mr-5">
            <label class="text-center col-2">Empresa</label>
            <div class="col">
                <select formControlName="id_empresa" name="id_empresa" id="id_empresa" class="form-select">
                    <option value="" disabled selected>Seleccione</option>
                    <option *ngFor="let li of empresa" value={{li.id}}>{{li.nombre_empresa}} </option>
                </select>
            </div>
            <label class="text-center col-2">Almacen</label>
            <div class="col">
                <select formControlName="id_almacen" name="id_almacen" id="id_almacen" class="form-select">
                    <option value="" disabled selected>Seleccione</option>
                    <option *ngFor="let li of almacen" value={{li.id}}>{{li.nombre}} </option>
                </select>
            </div>
        </div>

        <div class="row mt-4 mb-2 mr-5">
            <label class="col-2 text-center">Fecha</label>
            <div class="col">
                <div class="input-group">
                    <input formControlName="fecha" name="fecha" id="fecha" class="form-control" placeholder="yyyy-mm-dd"
                        ngbDatepicker #d="ngbDatepicker" />
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-calendar3" viewBox="0 0 16 16">
                            <path
                                d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                            <path
                                d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg></button>
                </div>
            </div>
            <label class="col-2 text-center">Referencia</label>
            <div class="col">
                <input formControlName="referencia" name="referencia" id="referencia" type="text" class=" form-control"
                    placeholder="Ingrese Referecia">
            </div>
        </div>

        <div class="d-flex align-items-end flex-column mr-5 mt-5 mb-4 ">
            <button type="button" (click)="onSubmit()" [disabled]="checkoutForm.invalid"
                class="mb-1 col-2 btn border-dark border-1">Guardar</button>
            <button type="button" class="col-2 btn border-dark border-1">Imprimir Todo</button>

        </div>
    </div>

</form>

<div class="d-sm-flex bd-highlight mb-2">
    <input placeholder="Buscar" name="filterEtiqueta" class="col-4 form-control mr-2 p-2 bd-highlight" type="text"
        [(ngModel)]="filterEtiqueta">
</div>
<table class="table table-bordered table-striped  table-hover ">
    <thead>
        <tr>
            <th scope="col">Empresa</th>
            <th scope="col">Almacen</th>
            <th scope="col">Fecha</th>
            <th scope="col">Referencia</th>
            <th scope="col">Acciones</th>


        </tr>
    </thead>
    <tbody>
        <!--  -->
        <tr *ngFor="let pos of entrada | filterEtiquetaInOut:filterEtiqueta">
            <td>{{pos.nombre_empresa}}</td>
            <td>{{pos.nombre_almacen}}</td>
            <td>{{pos.fecha}} </td>
            <td>{{pos.referencia}} </td>

            <td>
                <button class="btn btn-info padding"></button>
            </td>
        </tr>
    </tbody>
</table>