<app-breadcrumbs [miga]="miga"></app-breadcrumbs>
<ngb-alert #selfClosingAlert *ngIf="successMessage" type={{type}} (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>
<form [formGroup]='checkoutForm'>
    <div class="container">
        <div class="mt-3 ml-5 d-flex align-items-center">
            <label class="form-label mr-1" for="">Empresa:</label>
            <select formControlName="id_empresa" name="id_empresa" id="id_empresa" class="col-3 form-select"
                aria-label="Default select example">
                <option value="" disabled selected>Selecciones</option>
                <option value={{id.id}} *ngFor="let id of empresa">{{id.nombre_empresa}} </option>
            </select>
        </div>
        <h4 class="mt-5 pl-2 border-bottom border-dark">Dirección fiscal del proveedor</h4>

        <!-- GRID -->
        <div class=" container mt-4">
            <div class="row">
                <label class="text-end col form-label">Clave Cliente</label>
                <input  formControlName="clave_cliente" name="clave_cliente" id="clave_cliente" type="text"
                    class="col form-control">
                <label class="col text-end form-label">Pais</label>
                <select formControlName="pais" name="pais" id="pais" class="col form-select">
                    <option value="" disabled selected>Selecciones</option>
                    <option *ngFor="let li of pais" value={{li.id}}>{{li.pais}} </option>
                </select>
            </div>
            <div class="row mt-2">
                <label class="text-end col form-label">Empresa</label>
                <input formControlName="nombre" name="nombre" id="nombre" type="text" class="col form-control">
                <label class="text-end col form-label">Codigo Postal</label>
                <input formControlName="codigoPostal" name="codigoPostal" id="codigoPostal" type="text"
                    class="col form-control">
            </div>
            <div class="row mt-2">
                <label class="col text-end form-label">RFN</label>
                <input formControlName="nif" name="nif" id="nif" type="text" class="col form-control">
                <label class="col text-end form-label">Telefono 1</label>
                <input formControlName="telefono" name="telefono" id="telefono" type="text" class="col form-control">
            </div>
            <div class="row mt-2">
                <label class="col text-end form-label">Calle</label>
                <input formControlName="calle" name="calle" id="calle" type="text" class="col form-control">
                <label class="col text-end form-label">Telefono 2</label>
                <input formControlName="telefono_opcional" name="telefono_opcional" id="telefono_opcional" type="text"
                    class="col form-control">
            </div>
            <div class="row mt-2">
                <label class="col text-end form-label">Numero Exterior</label>
                <input formControlName="numero_exterior" name="numero_exterior" id="numero_exterior" type="text"
                    class="col  form-control">
                <label class="col  text-end form-label">Telefono 3</label>
                <input formControlName="telefono_opcional2" name="telefono_opcional2" id="telefono_opcional2"
                    type="text" class="col  form-control">
            </div>
            <div class="row mt-2">
                <label class="col text-end form-label">Numero Interior</label>
                <input formControlName="numero_interior" name="numero_interior" id="numero_interior" type="text"
                    class="col form-control">
                <label class="col text-end form-label">Contacto</label>
                <input formControlName="contacto" name="contacto" id="contacto" type="text" class="col form-control">
            </div>
            <div class="row mt-2">
                <label class="col-3 text-end form-label">Delegación</label>
                <div class="col-3">
                    <select formControlName="delegacion" name="delegacion" id="delegacion" class=" form-select" (change)="onChange($event.target.value)">
                        <option value="" disabled selected>Selecciones</option>
                        <option value={{dl.code_delegacion}} *ngFor="let dl of delegaciones"> {{dl.descripcion}}
                        </option>
                    </select>
                </div>
                <label class="col text-end form-label">Email</label>
                <input formControlName="email" name="email" id="email" type="text" class="col form-control">
            </div>
            <div class="row mt-2">
                <label class="col-3 text-end form-label">Colonia</label>
                <div class="col-3">
                    <select formControlName="colonia" name="colonia" id="colonia" class="col form-select">
                        <option value="" disabled selected>Selecciones</option>
                        <option value={{cl.code_colonia}} *ngFor="let cl of colonias"> {{cl.descripcion}} </option>
                    </select>
                </div>
            </div>
            <!-- <div class="row mt-2">
                <label class="col-3 text-end form-label">Ubicaciones</label>
                <button  type="button" class="col-1 btn btn-dark">Buscar</button>
            </div> -->

            <div class="d-flex justify-content-end mt-4 ml-1">
                <button [disabled]="checkoutForm.invalid" type="button" (click)="onSubmit()"
                    class="col-2 btn btn-dark">Guardar</button>
            </div>


        </div>
    </div>
</form>