<app-breadcrumbs  [miga]="miga"></app-breadcrumbs>
<ngb-alert #selfClosingAlert *ngIf="successMessage" type={{type}} (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>
<form [formGroup]='checkoutForm' >
    <label class="form-label" for="">Zona</label>
    <div class="row">
        <div class="col-3">
            <input  formControlName="descripcion"  name="descripcion" id="descripcion" type="text" class="form-control">
        </div>
        <button (click)="onSubmit()" type="button" class="ml-2 col-2 btn btn-dark">Guardar</button>
    </div>
    <table class="table table-striped w-50 table-hover mt-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Zona</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let li of zona">
            <td>{{li.id}} </td>
            <td>{{li.descripcion}}</td>
            <td>
              <button (click)="ListarForm(li.id) " (click)="open(mymodalMODI)" class=" btn btn-warning padding" ></button>
              <button (click)="open(mymodal)" class="btn btn-danger padding"  ></button>
              <!-- (click)="open(mymodalMODI)" (click)="LlenarDatos(list)" -->
              <!-- (click)="open(mymodal)" -->
    
              <ng-template #mymodal let-modal>
                <div style="margin:auto 12%;" class="modal-header">
                  <h4  class="modal-title" id="modal-basic-title">Seguro que desea
                    eliminar la empresa?</h4>
                </div>
                <div class="d-flex justify-content-center ml-5 modal-body">
                  <button  type="button" class="mr-3 btn btn-outline-dark"
                    (click)="modal.close('Save click')">Cancelar</button>
                  <button  type="button" (click)="Eliminar(li.id)"
                    class="btn btn-outline-dark" (click)="modal.close('Save click')">Aceptar</button>
                </div>
              </ng-template>
    
              <!--MODAL DE MODIFICAR -->
              <ng-template #mymodalMODI let-modal>
                <div class="modal-header">
                  <h4 id="modal-basic-title">Modificar Datos</h4>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-6">
                      <label class="form-label">Nombre</label>
                      <input formControlName="descripcion"  name="descripcion" id="descripcion"  type="text" class="form-control">
                    </div>
                </div>
    
                </div>
                <div class="d-flex justify-content-center ml-5 modal-body">
                  <button type="button" class="mr-3 btn btn-outline-dark"
                    (click)="modal.close('Save click')">Cancelar</button>
                  <button type="button" (click)="Update(li.id)"
                    class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
                </div>
              </ng-template>
    
            </td>
          </tr>
        </tbody>
      </table>
    
</form>
