<div>
   <table class="table table-bordered">
    <thead>
      <tr>
          <th scope="col">Nombre de empresa</th>
        <th scope="col">Dirección de empresa</th>
        <th scope="col">Nif</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>prueba</td>
        <td>prueba</td>
        <td>prueba</td>
      </tr>
    </tbody>
  </table>

  <div class="row mt-4 ml-1">
    <button type="button" style="background: #398bf7;" class="col-3 btn btn-dark">Modificar</button>
    <button type="button" style="background: #398bf7;" class="col-3 btn btn-dark ml-1">Eliminar</button>
</div>
</div>